* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
}

.navbar {
    width: 1600px;
    height: 10px;
}
.navbar nav {
    float: right;
}
nav ul li  {
    border: 1px solid red;
    display: inline;
    margin-right: 30px;
    padding: 5px;
    background-color: rgb(83, 83, 83);
    border-radius: 20px;

    
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
}
.big_section {
    border: 1px solid red;
    width: 1920px;
    height: 932px;
    background-color: #121316;
}
.main_section {
    border: 1px solid yellow;
    width: 1600px;
    height: 930px;
    margin: 0 auto;
}
.table_home {
    border: 1px solid green;
    float: right;
    margin-top: 45px;
}
.td_home {
    border: 1px solid red;
    width: 800px;
    height: 860px;
}
.img_home {
    width: 500px;
    margin: 0 auto;
}
.text-color_1 {
    color: #94a3b8;
    font-size: 3rem;
}
.developer {
    color: #10b981;
    font-weight: bold;
}