* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
}
.big_section {
    border: 1px solid red;
    width: 1920px;
    height: 1080px;
    background-color: aqua;
}
.main_section {
    border: 1px solid yellow;
    width: 1400px;
    height: 1080px;
    margin: 0 auto;
}